.doctor-card {
    background: #e2e8f0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    width: 326px;
    height: 476px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  
  .doctor-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .profile-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem;
    background-color: white;
    border: 2px solid #cbd5e0;
  }
  
  
  .profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .doctor-card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 1rem;
    flex: 1; 
    display: flex; 
    flex-direction: column;
    width: 100%;
  }
  

  
  .doctor-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    color: #2d3748;
    text-align: center;
  }
  
  .info-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  
  
  .label {
    width: 112px;
    height: 39px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1a2d42;
  }
  
  .value {
    width: 193px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #718096;
    margin-left: 15px;
  }
  
  
  .split-button {
    display: flex;
    border-radius: 8px;
    border: 1px solid #1a2d42;
    overflow: hidden;
    margin-top: auto; 

  }
  
  .split-button button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.9rem;
    font-weight: 500;

  }
  
  .split-button .edit-btn {
    background-color: #1a2d42;
    color: white;
  }
  .view-btn{
    background-color: #1a2d42;
    color: white;
  }
  .split-button .delete-btn {
    background-color:white;
    color: #1a2d42;
  }
  
